<div class="card flex justify-content-center align-items-center w-full mt-3">
  <form [formGroup]="passwordForm" (ngSubmit)="submitPassword()">
    <p-card header="Update password" [style]="{maxWidth: '600px'}">

      <div class="field">
        <label for="currentPassword">Password</label>
        <input type="password" pInputText formControlName="currentPassword" class="w-full" name="currentPassword" id="currentPassword"
               placeholder="Enter your password"/>
        <small *ngIf="currentPassword.invalid && currentPassword.touched" class="block p-error">
          <div *ngIf="currentPassword.errors?.['required']">Password is required</div>
          <div *ngIf="currentPassword.errors?.['pattern']">Invalid password</div>
        </small>
      </div>

      <div class="field">
        <label for="newPassword">Password</label>
        <input type="password" pInputText formControlName="newPassword" class="w-full" name="newPassword" id="newPassword"
               placeholder="Enter your password"/>
        <small *ngIf="newPassword.invalid && newPassword.touched" class="block p-error">
          <div *ngIf="newPassword.errors?.['required']">Password is required</div>
          <div *ngIf="newPassword.errors?.['pattern']">Invalid password</div>
        </small>
      </div>

      <div class="field">
        <label for="confirmedPassword">Password</label>
        <input type="password" pInputText formControlName="confirmedPassword" class="w-full" name="confirmedPassword" id="confirmedPassword"
               placeholder="Enter your password"/>
        <small *ngIf="confirmedPassword.invalid && confirmedPassword.touched" class="block p-error">
          <div *ngIf="confirmedPassword.errors?.['required']">Password is required</div>
          <div *ngIf="confirmedPassword.errors?.['pattern']">Invalid password</div>
        </small>
      </div>

      <p-button type="submit" label="Update password" styleClass="w-full" [disabled]="passwordForm.invalid"></p-button>
      <small *ngIf="passwordForm.errors?.['passwordMismatch'] && confirmedPassword.valid && newPassword.valid" class="block p-error">
        Password should match
      </small>
    </p-card>
  </form>
</div>
