<div class="card flex justify-content-center align-items-center h-full pt-3">
  <form [formGroup]="registerForm" (ngSubmit)="submitDetails()">
    <p-card header="Settings form" [style]="{maxWidth: '600px'}">

      <div [ngClass]="{'flex': this.wrapForm, 'gap-3': this.wrapForm, 'justify-content-between': this.wrapForm}">
        <div [ngClass]="{'flex': this.wrapForm, 'flex-column': this.wrapForm}">

          <div class="field">
            <label for="firstname">First name</label>
            <input type="text" pInputText formControlName="firstname" class="w-full" name="firstname" id="firstname"
                   placeholder="Enter your firstname"/>
            <small *ngIf="firstname.invalid && firstname.touched" class="block p-error">
              <div *ngIf="firstname.errors?.['required']">First name is required</div>
            </small>

            <small *ngIf="lastname.invalid && lastname.touched" class="block p-error">
              <div *ngIf="lastname.errors?.['required']">&nbsp;</div>
            </small>
          </div>
        </div>

        <div [ngClass]="{'flex': this.wrapForm, 'flex-column': this.wrapForm}">

          <div class="field">
            <label for="lastname">Last name</label>
            <input type="text" pInputText formControlName="lastname" class="w-full" name="lastname" id="lastname"
                   placeholder="Enter your lastname"/>
            <small *ngIf="lastname.invalid && lastname.touched" class="block p-error">
              <div *ngIf="lastname.errors?.['required']">Last name is required</div>
            </small>

            <small *ngIf="firstname.invalid && firstname.touched" class="block p-error">
              <div *ngIf="firstname.errors?.['required']">&nbsp;</div>
            </small>
          </div>
        </div>
      </div>

      <div class="field">
        <label for="selectedCity">City</label>
        <p-dropdown formControlName="selectedCity" [options]="cities" optionLabel="name" placeholder="Select a City"
                    name="selectedCity" id="selectedCity" styleClass="w-full" [(ngModel)]="chosenCity"></p-dropdown>
        <small *ngIf="selectedCity.invalid && selectedCity.touched" class="block p-error">
          <div *ngIf="selectedCity.errors?.['required']">City is required</div>
        </small>
      </div>

      <div [ngClass]="{'flex': this.wrapForm, 'gap-3': this.wrapForm, 'justify-content-center': this.wrapForm}">
        <div class="field w-full">
          <label>Avatar (optonal)</label>
          <p-fileUpload mode="basic" chooseLabel="Choose an avatar" name="demo[]" accept="image/*"
                        (onSelect)="onFileSelected($event)" [auto]="false"  name="avatar" id="avatar" styleClass="w-full"></p-fileUpload>
        </div>

        <p-avatar *ngIf="this.image.length > 1"
          [image]="this.image"
          alt="Image"
          styleClass="mr-2"
          size="xlarge"
          shape="circle" />
      </div>

      <p-button type="submit" label="Update info" styleClass="w-full" [disabled]="registerForm.invalid"></p-button>
    </p-card>
  </form>
</div>


